data/*
dist/
.env

.DS_Store
# Remove all __pycache__ folders
**/__pycache__/

# Remove all .pyc files
*.pyc
*.pyo
*.pyd
**/*.py[cod]
**/*$py.class

# Remove all egg-info folders
*/egg-info/
*/*/egg-info/
*/*/*/egg-info/
src/nuggetizer.egg-info/

*jsonl

.cursor/

.pyre/
**/.pyre/
.ruff_cache/
**/.ruff_cache/
.mypy_cache/
**/.mypy_cache/
.pytest_cache/
**/.pytest_cache/
htmlcov/
.coverage
.coverage.*
build/
.venv/
**/.venv/
venv/
**/venv/
env/
**/env/
ENV/
**/ENV/
.env.*
**/.env
**/.env.*
notebooks/
uv.lock
